/* section 영역 스타일 */
#section {
    display: flex; /* Flexbox 레이아웃을 사용하여 자식 요소들을 정렬합니다. */
    justify-content: center; /* section 영역에서 나타날 때 가로 중앙 정렬합니다. */
    align-items: center; /* section 영역에서 나타날 때 세로 중앙 정렬합니다. */
}

.register-container {
    padding: 30px;
    width: 100%;
    max-width: 500px; /* 폼 넓이 조정 */
    box-sizing: border-box;
    min-height: 400px; /* 폼 높이 조정 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: calc(100% - 24px); /* 패딩을 고려한 넓이 설정 */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4a3b2c; /* 입력폼 포커스 시 색상 변경 */
    outline: none;
}

.error-message {
    display: none; /* 기본적으로 에러 메시지를 숨깁니다. */
    color: red; /* 에러 메시지의 텍스트 색상을 빨간색으로 설정합니다. */
    font-size: 12px; 
    margin-top: 5px; 
}

#sign-up {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    background-color: saddlebrown; /* 커피색 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sign-up:hover {
    background-color: rgb(82, 34, 0); /* 호버 시 더 어두운 커피색 */
}